<!DOCTYPE html>
<html>
<head>
    <title>Zoo Management</title>
</head>
<body>
    <header>
        <h1>Zoo Management System</h1>
        <nav>
            <a href="/animals">Home</a>
            <a href="/animals/add">Add Animal</a>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
</body>
</html>
